{% load static %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type= "text/css" href="{% static 'about.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} <title>About</title> {% endblock %}
</head>
<body>
    {% include "common.html" %}
     <div class="back">
        <img src="static/mee.jpg" alt="me">
        <div class="side">
            <h1>Achim Biegon</h1>
            <p>
              Hello there! I'm Achim Biegon, a dynamic individual passionate about technology and a dedicated student hungry for knowledge.As I navigate through the world of innovation, I thrive on challenges, constantly pushing myself to learn and grow.My insatiable curiosity fuels my journey, turning each obstacle into an opportunity. Join me as I explore the limitless possibilities of technology, and together, let's embark on an exhilarating adventure of discovery and achievement!
            </p>
        </div>

  

</div>
<footer>
    <h5> Achim Biegon</h5> 
   </footer>

    
</body>
</html>



