{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'projects.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    {% include 'common.html' %}
            <div class="cover"></div>
                <div class="project1">
                    <img class="shadow" src="static/Untitled-1.png " alt="logo design">
                    <p>
                    A sleek, stylized chair icon overlaid with a warm, inviting color palette. 
                    Its contours blend modern simplicity with classic comfort, 
                    evoking a sense of passion and expertise in furniture design.
                    </p>
                </div>
                <div class="project2">
                    <img class="shadow" src="static/VIRUS 1.jpg" alt="football banner">
                    <p>
                    Football, a symphony of skill and passion, mesmerizes with its artistry and unity. Yet, 
                    corruption tarnishes its purity, 
                    breeding mistrust and injustice, threatening the game's integrity,
                    and betraying its spirit of fair play.
                    </p>
                </div>
                <div class="project3">
                    <img class="shadow" src="static/PROJECT 003.jpg" alt="oblivion picture">
                    <p>
               An empty, desolate landscape stretches endlessly, shrouded in mist and shadow. 
               A solitary figure stands, gazing into the void,
               lost in the vast expanse of forgotten memories and unknown futures.
                    </p>
                </div>
                <div class="project4">
                    <img class="shadow" src="static/LOGO 002.jpg" alt="election banner">
                    <p>
                        
                    In lines and curves, a logo blooms,
                    A symbol of essence, it silently looms.
                    With colors that dance and shapes that sing,
                    It whispers tales of a brand's true wing.
                    </p>
                </div>
                <div class="project5">
                    <img class="shadow" src="static/COMPLETE TRIAL 2.jpg" alt="car banner">
                    <p>
                    Sleek automobiles race across a backdrop of innovation and precision. Vibrant colors and
                    dynamic designs capture the essence of speed and power. Emblems shine,
                    reflecting a legacy of engineering excellence. The banner ignites the thrill of the open road.
                    </p>
                </div>
                <div class="project6">
                    <img class="shadow" src="static/Artboard 1-100.jpg" alt="cat illustration">
                    <p>
                        
                        In peaceful repose, a sleeping cat curls, embodying tranquility and serenity.
                        Its rhythmic breaths echo the importance of rest, rejuvenation, and balance. 
                        Amid life's hustle, the cat's slumber reminds us: sleep nourishes the soul.
                    </p>
                </div>
           
            </div>
            <div class="project7">
                <video width="400" height="500" controls>
                    <source src="static/PROMO 001.mp4" type="video/mp4">
                </video>
            </div>

    <footer>
        <h5> Achim Biegon</h5> 
        </footer>   
</body>
</html>